.hero{
    text-align: center;
    padding: 5rem 2rem;
    background-color: #1e1e1e;
    color: #ffffff;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 1.25rem;
    color: #cccccc;
}
.learn-btn{
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
}
.learn-btn:hover{
    background-color: var(--accent);
}